*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.contenedor1{
    width: 90%;
    /*max-width: 1000px;*/
    margin: auto;
    overflow: hidden;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
    
/*-------ESTE ES EL HEADER-------*/
header{
    
    min-height: 100vh;
    background:linear-gradient(to top,rgba(92, 51, 3, 0.671), rgba(83, 52, 6, 0.829)),
    url(img/fondo1.jpg) center/cover no-repeat fixed;
    /*background-color:#522403ea;*/
   
   
}
header .contenedor1{
    position: relative;
    height: 700px;
}
header .menu{
    width: 50%;
    text-align: right;
    margin-left:500px ;
    /*background: cornflowerblue;*/
    
}
.logo{
    width:20%;
    margin-top:-130px;
    padding: 10px;
    margin-left: 90px;
    /*background: coral;*/
}

header .menu a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    margin: 55px 20px;
    text-decoration: none;
    position: relative;
}
header .menu a:hover{
    text-decoration: underline;
}
header .texto{
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
    margin-left:125px ;
    line-height: 50px;
}
header .texto .nombre{
    font-size: 50px;
    font-weight: lighter;
}
header .texto .nombre span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;

}
header .texto h3{
    font-size: 25px;
    font-weight:300;
    font-style: italic;
    
}
/*--------MAIN---------*/
.main{
    background-image: url(img/bg-textura.png);
    background-repeat: repeat;
}
.main .acerca-de .contenedor{
    overflow: visible;
    position: relative;
}
.main .acerca-de .foto{
    width: 80%;
    position: absolute;
    left:0;
    top: -50px;
    z-index: 0;
    
}
.main .acerca-de .foto img{
    vertical-align: top;
    width: 100%;
    object-fit: cover;
}
.main .acerca-de article{
    background: #ffffff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 200px;
    z-index: 1;
    float: right;
    box-shadow:0px 0px 20px gray;
}
.main .acerca-de article:hover{
    background:#522403d5;
    color: #ffffff;
}
.main .acerca-de article h3{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
    
}
.main .acerca-de article p{
    line-height: 28px;
    margin-bottom: 15px;
}
/*-------Este es el menu-------*/
.main .menu{
    padding-top: 630px;
    margin-bottom: 50px;
}
.main .menu .titulo{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 40px;
}
.main .menu .contenedor-menu ,
.main .menu .contenedor-menu2{
    border: 1px solid #000000;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}
.main .menu article{
    width: 50%;
    float: left;
    padding: 25px;
   
}
.main .menu .categoria{
    font-size: 22px;
    font-weight:700;
    margin-bottom: 40px;
    text-align: center;
}
.main .menu .platillo{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom:2px dotted #000000;
    overflow: hidden;
}
.main .menu .nombre{
    font-size: 20px;
    font-weight: 600;
    margin-bottom:15px;
    float: left;
}
.main .menu .precio{
    font-weight: 600;
    font-size: 20px;
    margin-bottom:15px;
    float: right;
}
.main .menu .descripcion{
    font-size: 16px;
    color: #676767;;
    clear: both;
}
/*--------GALERIA---------*/
.main .galeria{
    overflow: hidden;
}
.main .galeria .foto{
    width: 25%;
    float: left;
    
}
.main .galeria .foto img{
    width: 100%;
    vertical-align: top;
    opacity: .7;
}
.main .galeria .foto img:hover{
    opacity: 1;
    transition: all .3 ease;
}
/*--------Footer---------*/
.main .ubicacion{
    background: #ffffff;
    padding: 60px 0;
    overflow: hidden;
}
.main .ubicacion .titulo{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.main .ubicacion .direccion{
    float: left;
    text-align: left;
    width: 50%;
    font-size: 15px;
    font-weight:600;
    
}
.main .ubicacion .horario{
    float: right;
    text-align: right;
    width: 50%;
    overflow: hidden;
    font-size: 17px;
    font-weight:600;
}
.main .ubicacion .direccion .calle{margin-bottom: 15px;}
.main .ubicacion .horario h4{
    margin-bottom: 20px;
    text-align: center;
    font-size:20px;
}
.main .ubicacion .horario .entre-semana,
.main .ubicacion .horario .fin-semana{
    width: 50%;
    float: left;
    text-align: center;
}
.main .mapa{
    width: 100%;
    overflow: hidden;
}
.main .mapa iframe{
    width: 100%;
    max-height: 600px;
} 
/*--------PIE DE PAGINA---------*/ 
footer{
    background: #000000; 
}
footer .copyright{
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
/*--------MEDIA QUIERE---------*/ 
@media screen and (max-width:800px){
    header .contenedor1{
        position:static;
        height: auto;
    }
    header .texto{
        position:static;
        margin: 100px 0;
    }
    header .menu{
        text-align: center;
        width:80%;
        margin-left:50px;
    }
    .logo{
        width:20%;
        margin-top:10px;
        padding: 20px;
        margin: auto;
        
    }
    header .menu a{
        margin: 10px 20px;
    }
    header .texto .nombre{
        font-size: 30px;
    }
    header .texto h3{
        font-size: 18px;
    }
    .main .acerca-de .foto{
        width: 100%;
        position: relative;
    }
    .main .acerca-de article{
        width: 100%;
        position: relative;
        top: -50px;
        transform: translate(0px, 0);
    }
    .main .menu{
        padding-top: 300px;
    }
    .main .menu article{
        width: 100%;
    }
    .main .galeria .foto{
        width: 50%;
    }
    .main .mapa{
        width: 90%;
        margin: auto;
    }

}
@media screen and (max-width:400px){
    .main .acerca-de article h3{
        font-size: 34px;
        margin-bottom: 10px;
    }
    .main .menu article .nombre,
    .main .menu article .precio{
        font-size: 16px;
        line-height: 16px;
    }
    .main .ubicacion .direccion,
    .main .ubicacion .horario{
        width: 100%;
        text-align: center;
    }


}

       
       


